.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules
yarn-error.log

lib
exec

.idea
dist
videos


docs
!docs/config.yml
!docs/about/folder.yml
docs-html
