@font-face {
  font-family: "Krypton";
  src: url("./fonts/MonaspaceKryptonVarVF[wght,wdth,slnt].woff2") format("woff2-variations");
  font-weight: 1 999;
}

:root {
  color-scheme: dark;
}

html, body {
  /* min-height: 100%;*/
  margin: 0;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  display: flex;
  background-color: #131f2a;
}

a, a:visited {
  color: #000000;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}

.sidebar, .content {
  /* height: 100%;*/
  overflow-y: auto;
}

.inner {
  margin: 0 5rem;
  max-width: 600px;
}

.content {
  flex-grow: 1;
}

.sidebar {
  font-family: Krypton, monospace;
  background-color: #0d1117;
  display: flex;
  flex-direction: column;
  min-width: 240px;
  padding: 2rem 0;
}

.sidebar > a:first-child {
  margin-bottom: 1rem;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: .2rem 2rem;
  font-size: .8rem;
}

.sidebar > ul:nth-child(2) {
  flex-grow: 1;
  margin-bottom: 2rem;
}

.sidebar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar > a:first-child {
  font-size: 1.4rem;
  font-weight: bold;
}


.sidebar a:hover {
  background-color: #fff;
  color: #000;
}

pre {
  max-width: 600px;
  overflow-x: auto;
  background-color: black;
  color: white;
  padding: 8px;
}

code {
  font-family: Krypton, monospace;
  font-size: .7rem;
}

/* small screens */

@media (max-width: 700px) {
  body {
    overflow-x: hidden;
    flex-direction: column-reverse;
  }
  .sidebar {
    width: 100%;
    min-height: unset;
  }
}
